.container {
    
    margin-top: 2rem;
    width: 50%;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    background-color: rgb(223, 231, 113);
}

body{
    background-image: url(back.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}